:root {
    --conversation-body-width: 650px;
    --conversation-dialog-max-width: 30vh;
}

.conversation-messages {
    display: flex;
    overflow-y: scroll;
    height: var(--conversation-body-width);
}

.conversations {
    border-right: 2px solid dodgerblue;
    max-width: var(--conversation-dialog-max-width);
}

.typing-area {
    display: flex;
    margin-left: 30vh;
    position: sticky;
}

.mobile-app-image {
   height: 55vh;
   width: 55vh;
}

